.posting {
  padding-top: 7vh;
  min-height: 100vh;
}

.posting-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.posting-form {
}

.posting-form-title {
  width: 100%;
  margin-bottom: 5vh;
}

.posting-form-title-item {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  font-size: 1.5rem;
}

.posting-form-content-item > {
  width: 10%;
}

.ck-file-dialog-button {
  display: none;
}

.ck-dropdown__button {
  display: none;
}

.posting-form-content-img {
  width: 100%;
}

.posting-form-content-img input {
  border: none;
  width: 100%;
}

.posting-form-content-img label {
  display: inline-block;
  transition: 0.2s ease-in;
  padding: 0.5em 0.75em;
  color: white;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #0078ff;
  cursor: pointer;
  border: 1px solid #0078ff;
  border-bottom-color: #0078ff;
  border-radius: 3px;
  margin-bottom: 5vh;
}

.posting-form-content-img label:hover {
  background-color: #3995ff;
}

.posting-form-content-img-item {
  /* 파일 필드 숨기기 */
  display: none;
}

.posting-form-content-slider {
  width: 100%;
  height: 160px;
}

.posting-form-content-slider-ul {
  width: 100%;
  height: 160px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  border: 1px solid rgb(210, 210, 210);
  background-color: rgb(250, 250, 250);
  box-sizing: border-box;
}

.posting-form-content-slider-ul-li {
  list-style: none;
  min-width: 240px;
  height: 160px;
  background-size: cover;
  background-position: 50% 50%;
}

.posting-form-submit {
  width: 100%;
}

.posting-form-submit-item {
  transition: 0.2s ease-in;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  padding: 8px;
  border: 1px solid #0078ff;
  background-color: #0078ff;
  border-radius: 3px;
}

.posting-form-submit-item:hover {
  background-color: #3995ff;
}

/* .image-style-side {
  float: right;
} */
