.admin-main-form {
    height: 140vh;
}

.admin-main-title {
    margin-top: 3vh;
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 50px;
    box-sizing: border-box;
}

.admin-main-text{
    border: 1px solid rgb(150, 150, 150);
    height: 107vh;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.admin-main-text-title {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(150, 150, 150);
    height:7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f6;
}

.admin-main-text-title-item-user {
    font-size: 1.25rem;
    font-weight: 400;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    
}

.admin-main-text-title-item-admin {
    font-size: 1.25rem;
    font-weight: 400;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.clicked {
    border-bottom: 2px solid #0078ff;
    
}

.admin-main-text-items {
    border-bottom: 1px solid black;
    box-sizing: border-box;
    height: 10vh;
    display: flex;
    align-items: center;
}   

.admin-main-text-items-profile {
    border: 1px solid red;
    width: 15%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-main-text-items-email {
    border: 1px solid orange;
    width: 35%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-main-text-items-name {
    border: 1px solid yellow;
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-main-text-items-check {
    border: 1px solid green;
    width: 15%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-main-text-items-role {
    border: 1px solid blue;
    width: 15%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-main-page-div {
    border: 1px solid rgb(150, 150, 150);
    width: 80%;
    height: 5vh;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.admin-main-page-div-items {
    display: flex;
    margin-right: 15px;
    align-items: center;
    font-size: 1.2rem;
}

