.admin-main-form {
    height: 140vh;
}

.admin-main-title {
    margin-top: 3vh;
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 50px;
    box-sizing: border-box;
}

.admin-main-text{
    border: 1px solid rgb(150, 150, 150);
    height: 111.25vh;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.admin-main-text-title {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(150, 150, 150);
    height:7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f6;
}

.admin-main-text-title-item-user {
    font-size: 1.25rem;
    font-weight: 400;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    
}

.admin-main-text-title-item-admin {
    font-size: 1.25rem;
    font-weight: 400;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.clicked {
    /* border-bottom: 2px solid #0078ff; */
    border-bottom: 2px solid black;
    
}

.admin-main-text-items {
    box-sizing: border-box;
    height: 10vh;
    align-items: center;
} 

.admin-main-text-items-form {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.admin-main-text-items-profile {
    width: 12%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
    font-size: 14px;
}

.admin-main-text-items-email {
    width: 35%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
    font-size: 15px;
}

.admin-main-text-items-name {
    width: 16%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
    font-size: 15px;
}

.admin-main-text-items-check {
    width: 14%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
    font-size: 15px;
}

.admin-main-text-items-role {
    width: 10%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
    font-size: 14px;
}

.admin-main-text-items-delete {
    width: 13%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;

}

.admin-main-text-items-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}


.admin-main-page-div {
    border: 1px solid rgb(150, 150, 150);
    width: 80%;
    height: 5vh;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.admin-main-page-div-items {
    display: flex;
    margin-right: 15px;
    align-items: center;
    font-size: 1.2rem;
}

.admin-main-text-title-subTitle {
    background-color:#f1f3f6;
    display: flex;
    width: 100%;
    height: 4vh;
}

.admin-main-text-title-subTitle-profile {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.admin-main-text-title-subTitle-email {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.admin-main-text-title-subTitle-name {
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.admin-main-text-title-subTitle-check{
    font-size: 15px;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.admin-main-text-title-subTitle-role {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.admin-main-text-title-subTitle-delete {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.admin-main-text-items-check-img {
    width: 50px;
    display: inline-block;
}

.admin-main-text-items-profile-img {
    width: 50px;
}

.admin-main-text-items-admin-profile {
    width: 12%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
    font-size: 14px;
}

.admin-main-text-items-admin-email {
    width: 35%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
    font-size: 15px;
}

.admin-main-text-items-admin-name {
    width: 16%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
    font-size: 15px;
}

.admin-main-text-items-admin-check {
    width: 14%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
    font-size: 15px;
}

.admin-main-text-items-admin-role {
    width: 10%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
    font-size: 14px;
}

.admin-main-text-items-admin-delete {
    width: 13%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;

}