.header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-main {
  width: 50%;
  display: flex;
  justify-content: center;
}

.header-main a {
  font-weight: 1000;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.header-nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.header-nav-item > div,
.header-nav-item > a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
